1. Import required libraries

In [1]:
import pandas as pd
pd.set_option('display.max_columns', None)

2. Read the dataset

In [2]:
data = pd.read_csv("Maths.csv")
data

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,guardian,traveltime,studytime,failures,schoolsup,famsup,paid,activities,nursery,higher,internet,romantic,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,course,mother,2,2,0,yes,no,no,no,yes,yes,no,no,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,course,father,1,2,0,no,yes,no,no,no,yes,yes,no,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,other,mother,1,2,3,yes,no,yes,no,yes,yes,yes,no,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,home,mother,1,3,0,no,yes,yes,yes,yes,yes,yes,yes,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,home,father,1,2,0,no,yes,yes,no,yes,yes,no,no,4,3,2,1,2,5,4,6,10,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
390,MS,M,20,U,LE3,A,2,2,services,services,course,other,1,2,2,no,yes,yes,no,yes,yes,no,no,5,5,4,4,5,4,11,9,9,9
391,MS,M,17,U,LE3,T,3,1,services,services,course,mother,2,1,0,no,no,no,no,no,yes,yes,no,2,4,5,3,4,2,3,14,16,16
392,MS,M,21,R,GT3,T,1,1,other,other,course,other,1,1,3,no,no,no,no,no,yes,no,no,5,5,3,3,3,3,3,10,8,7
393,MS,M,18,R,LE3,T,3,2,services,other,course,mother,3,1,0,no,no,no,no,no,yes,yes,no,4,4,1,3,4,5,0,11,12,10
394,MS,M,19,U,LE3,T,1,1,other,at_home,course,father,1,1,0,no,no,no,no,yes,yes,yes,no,3,2,3,3,3,5,5,8,9,9

3. How many rows the dataset contains?

In [3]:
len(data)

395

4. Does the dataset contain NaNs?

In [4]:
data.isnull().values.any()

False

5. Compare students with parents living apart vs students whose parents live together. Which group consumes more alcohol?

Чи студенти, у яких батьки живуть окремо, споживають більше алкоголю, ніж студенти, у яких батьки живуть разом

In [5]:
print(data[data['Pstatus'] == 'T'].Walc.sum() / len(data[data['Pstatus'] == 'T']) )
print(data[data['Pstatus'] == 'A'].Walc.sum() / len(data[data['Pstatus'] == 'A']))

2.2937853107344632
2.268292682926829

6. Do families living in village have more children? Report the difference in %.

Наскільки більше у відсотках сільські сім'ї мають більше дітей?

In [6]:
len(data[data['famsize']== 'GT3'])
cleardata = data[data['famsize']== 'GT3']
rbigfams = len(cleardata[data['address'] == 'R']) / len(data[data['address'] == 'R'])*100
ubigfams = len(cleardata[data['address'] == 'U']) / len(data[data['address'] == 'U'])*100
result = (max([rbigfams, ubigfams])/min([rbigfams, ubigfams])-1)*100
print(f'{round(result,2)}%')

11.37%

C:\Users\Admin-PC\AppData\Local\Temp\ipykernel_14584\4283224400.py:3: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  rbigfams = len(cleardata[data['address'] == 'R']) / len(data[data['address'] == 'R'])*100
C:\Users\Admin-PC\AppData\Local\Temp\ipykernel_14584\4283224400.py:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  ubigfams = len(cleardata[data['address'] == 'U']) / len(data[data['address'] == 'U'])*100

7. Does the lack of internet influence the student marks?

Наскільки відсутність інтернету дома впливає на оцінки студента?

In [7]:
data['G4'] = data['G1']+ data['G2'] +data['G3']
data.groupby('internet')['G4'].mean()

internet
no     29.500000
yes    32.547112
Name: G4, dtype: float64

8. Does alcohol consumption during weekends influence the absence at lessons?

Наскільки вживання алкоголю по вихідним впливає на пропуски занять?

In [8]:
data.groupby('Walc').mean()['absences']

C:\Users\Admin-PC\AppData\Local\Temp\ipykernel_14584\2382307427.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  data.groupby('Walc').mean()['absences']

Walc
1    4.854305
2    4.588235
3    6.425000
4    8.333333
5    6.892857
Name: absences, dtype: float64

9. Compare students whose parents work at health vs others. Does the level of alcohol comsumptions at weekdays differ for those 2 groups?

Чи відрізняється показник вживання алкоголю по буднях у студентів, у яких батько або мати працюють у сфері охорони здоров'я порівняно з іншими студентами?

In [9]:
print(data[(data['Fjob']=='health') | (data['Fjob']=='health')].mean()['Walc'])
print(data[(data['Fjob']!='health') & (data['Fjob']!='health')].mean()['Walc'])
print('Lil diff')

1.8888888888888888
2.310344827586207
Lil diff

C:\Users\Admin-PC\AppData\Local\Temp\ipykernel_14584\1082169308.py:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  print(data[(data['Fjob']=='health') | (data['Fjob']=='health')].mean()['Walc'])
C:\Users\Admin-PC\AppData\Local\Temp\ipykernel_14584\1082169308.py:2: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  print(data[(data['Fjob']!='health') & (data['Fjob']!='health')].mean()['Walc'])

10. Compare students living in village vs city. Which group of students miss more lessons?

Яка група студентів більше пропускає занять: ті, які живуть у місті, чи в селах?

In [10]:
data[data['address'] == 'U'].mean()['absences'] < data[data['address'] == 'R'].mean()['absences']

C:\Users\Admin-PC\AppData\Local\Temp\ipykernel_14584\1992561389.py:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  data[data['address'] == 'U'].mean()['absences'] < data[data['address'] == 'R'].mean()['absences']
C:\Users\Admin-PC\AppData\Local\Temp\ipykernel_14584\1992561389.py:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  data[data['address'] == 'U'].mean()['absences'] < data[data['address'] == 'R'].mean()['absences']

True

11. What is the % of students with max level of health does extra-curricular activities?

Який відсоток студентів, які мають максимальну оцінку здоров'я, відвідують позапланові заходи?

In [11]:
len(data[data['health'] == 5][data['activities'] =='yes'])/len(data[data['health'] == 5])

C:\Users\Admin-PC\AppData\Local\Temp\ipykernel_14584\1599166578.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  len(data[data['health'] == 5][data['activities'] =='yes'])/len(data[data['health'] == 5])

0.5273972602739726

12. Consider a group of families with 3 and more children vs a group of all other students. Which group has better family relationship?

Які сім'ї мають кращі стосунки у сім'ї: багатодітні (3 і більше дітей) чи з 1-2 дітьми?

In [12]:
data[data['famsize'] == 'LE3'].mean()['famrel'] < data[data['famsize'] == 'GT3'].mean()['famrel']
print('GT3 is the winner')

GT3 is the winner

C:\Users\Admin-PC\AppData\Local\Temp\ipykernel_14584\1234765278.py:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  data[data['famsize'] == 'LE3'].mean()['famrel'] < data[data['famsize'] == 'GT3'].mean()['famrel']
C:\Users\Admin-PC\AppData\Local\Temp\ipykernel_14584\1234765278.py:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  data[data['famsize'] == 'LE3'].mean()['famrel'] < data[data['famsize'] == 'GT3'].mean()['famrel']

13. Report the % of students with family relationship <= 2 that do not want to take higher education.

Який відсоток студентів з сімейними стосунками <= 2 не хочуть отримувати вищу освіту в майбутньому?

In [13]:
1 -(len(data[(data['famrel']<= 2) & (data['higher']=='yes')]) / len(data[data['famrel']<= 2]))

0.038461538461538436

14. Report the % of students who consume more than average amount of alcohol going out with friends the most?

Який відсоток студентів, які споживають взагальному(і по буднях і по вікендах) алкоголю більше середнього, гуляють з друзями найбільше?

In [14]:
data['alc'] = data['Walc']+data['Dalc'] 

len(data[(data['alc'] > data.mean()['alc']) & (data['goout'] == 5)]) / len(data[(data['alc'] > data.mean()['alc'])])

C:\Users\Admin-PC\AppData\Local\Temp\ipykernel_14584\1373201211.py:3: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  len(data[(data['alc'] > data.mean()['alc']) & (data['goout'] == 5)]) / len(data[(data['alc'] > data.mean()['alc'])])
C:\Users\Admin-PC\AppData\Local\Temp\ipykernel_14584\1373201211.py:3: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  len(data[(data['alc'] > data.mean()['alc']) & (data['goout'] == 5)]) / len(data[(data['alc'] > data.mean()['alc'])])

0.21787709497206703

15. Come up with 3 more questions and provide solutions for them.

Придумайте своїх 3 запитання і напишіть для них розв'язок.

15.Чи студенти, які живуть у місті споживають більше алкоголю, ніж студенти, які живуть у селі

In [15]:
data.groupby('address').mean()['alc']

C:\Users\Admin-PC\AppData\Local\Temp\ipykernel_14584\2963586532.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  data.groupby('address').mean()['alc']

address
R    4.170455
U    3.657980
Name: alc, dtype: float64

16.Чи студенти, які живуть у місті частіше виходять з друзями, ніж студенти, які живуть у селі

In [16]:
data.groupby('address').mean()['goout']

C:\Users\Admin-PC\AppData\Local\Temp\ipykernel_14584\3668691822.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  data.groupby('address').mean()['goout']

address
R    2.965909
U    3.149837
Name: goout, dtype: float64

17.Чи студенти, які живуть у місті  мають більше вільного часу, ніж студенти, які живуть у селі

In [17]:
data.groupby('address').mean()['freetime']

C:\Users\Admin-PC\AppData\Local\Temp\ipykernel_14584\3849247639.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  data.groupby('address').mean()['freetime']

address
R    3.170455
U    3.254072
Name: freetime, dtype: float64