1. Import required libraries

In [1]:
import pandas as pd

2. Read the dataset

In [2]:
df = pd.read_csv('Maths.csv')

3. How many rows the dataset contains?

In [3]:
df.shape[0]

395

4. Does the dataset contain NaNs?

In [4]:
df.isnull().sum()

school        0
sex           0
age           0
address       0
famsize       0
Pstatus       0
Medu          0
Fedu          0
Mjob          0
Fjob          0
reason        0
guardian      0
traveltime    0
studytime     0
failures      0
schoolsup     0
famsup        0
paid          0
activities    0
nursery       0
higher        0
internet      0
romantic      0
famrel        0
freetime      0
goout         0
Dalc          0
Walc          0
health        0
absences      0
G1            0
G2            0
G3            0
dtype: int64

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 395 entries, 0 to 394
Data columns (total 33 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   school      395 non-null    object
 1   sex         395 non-null    object
 2   age         395 non-null    int64
 3   address     395 non-null    object
 4   famsize     395 non-null    object
 5   Pstatus     395 non-null    object
 6   Medu        395 non-null    int64
 7   Fedu        395 non-null    int64
 8   Mjob        395 non-null    object
 9   Fjob        395 non-null    object
 10  reason      395 non-null    object
 11  guardian    395 non-null    object
 12  traveltime  395 non-null    int64
 13  studytime   395 non-null    int64
 14  failures    395 non-null    int64
 15  schoolsup   395 non-null    object
 16  famsup      395 non-null    object
 17  paid        395 non-null    object
 18  activities  395 non-null    object
 19  nursery     395 non-null    object
 20  higher      395 non-null    object
 21  internet    395 non-null    object
 22  romantic    395 non-null    object
 23  famrel      395 non-null    int64
 24  freetime    395 non-null    int64
 25  goout       395 non-null    int64
 26  Dalc        395 non-null    int64
 27  Walc        395 non-null    int64
 28  health      395 non-null    int64
 29  absences    395 non-null    int64
 30  G1          395 non-null    int64
 31  G2          395 non-null    int64
 32  G3          395 non-null    int64
dtypes: int64(16), object(17)
memory usage: 102.0+ KB

5. Compare students with parents living apart vs students whose parents live together. Which group consumes more alcohol?

Чи студенти, у яких батьки живуть окремо, споживають більше алкоголю, ніж студенти, у яких батьки живуть разом

In [6]:
pd.set_option('display.max_columns', None)

df.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,guardian,traveltime,studytime,failures,schoolsup,famsup,paid,activities,nursery,higher,internet,romantic,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,course,mother,2,2,0,yes,no,no,no,yes,yes,no,no,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,course,father,1,2,0,no,yes,no,no,no,yes,yes,no,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,other,mother,1,2,3,yes,no,yes,no,yes,yes,yes,no,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,home,mother,1,3,0,no,yes,yes,yes,yes,yes,yes,yes,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,home,father,1,2,0,no,yes,yes,no,yes,yes,no,no,4,3,2,1,2,5,4,6,10,10

In [7]:
df.describe().loc['mean']['Walc']

2.2911392405063293

In [8]:
together = df[df['Pstatus'] == 'T']
together.describe().loc['mean']['Walc']

2.2937853107344632

In [9]:
alone = df[df['Pstatus'] == 'A']
alone.describe().loc['mean']['Walc']

2.268292682926829

In [10]:
df.groupby('Pstatus')['Walc'].mean()

Pstatus
A    2.268293
T    2.293785
Name: Walc, dtype: float64

6. Do families living in village have more children? Report the difference in %.

Наскільки більше у відсотках сільські сім'ї мають більше дітей?

In [11]:
GT3 = df[df['famsize'] == 'GT3'].groupby(['address'])['age'].count()
(GT3[1] * 100 / GT3.sum()) - (GT3[0] * 100 / GT3.sum())

51.60142348754448

7. Does the lack of internet influence the student marks?

Наскільки відсутність інтернету дома впливає на оцінки студента?

In [12]:
df['G_total'] = df['G1'] + df['G2'] + df['G3']
df.groupby('internet')['G_total'].mean()

internet
no     29.500000
yes    32.547112
Name: G_total, dtype: float64

8. Does alcohol consumption during weekends influence the absence at lessons?

Наскільки вживання алкоголю по вихідним впливає на пропуски занять?

In [13]:
df.groupby('Walc')['absences'].mean()

Walc
1    4.854305
2    4.588235
3    6.425000
4    8.333333
5    6.892857
Name: absences, dtype: float64

9. Compare students whose parents work at health vs others. Does the level of alcohol comsumptions at weekdays differ for those 2 groups?

Чи відрізняється показник вживання алкоголю по буднях у студентів, у яких батько або мати працюють у сфері охорони здоров'я порівняно з іншими студентами?

In [84]:
M_health = df[df['Mjob'] == 'health']
F_health = df[df['Fjob'] == 'health']
df_health = pd.concat([M_health, F_health])

df_wout_Mhealth = df[df['Mjob'] != 'health']
df_wout_health = df_wout_Mhealth[df_wout_Mhealth['Fjob'] != 'health']

print(df_health.describe().loc['mean']['Dalc'], df_wout_health.describe().loc['mean']['Dalc'])
if df_health.describe().loc['mean']['Dalc'] < df_wout_health.describe().loc['mean']['Dalc']:
    print("Так, рівень вживання алкоголю у сім'ях де батько чи мати працюють у сфері здоров'я менший")

1.2884615384615385 1.507163323782235
Так, рівень вживання алкоголю у сім'ях де батько чи мати працюють у сфері здоров'я менший

10. Compare students living in village vs city. Which group of students miss more lessons?

Яка група студентів більше пропускає занять: ті, які живуть у місті, чи в селах?

In [38]:
df.groupby('address')['studytime'].mean()

address
R    2.068182
U    2.026059
Name: studytime, dtype: float64

11. What is the % of students with max level of health does extra-curricular activities?

Який відсоток студентів, які мають максимальну оцінку здоров'я, відвідують позапланові заходи?

In [43]:
max_health = df[df['health'] == 5].groupby(['activities'])['age'].count()
(max_health[1] * 100) / len(df)

19.49367088607595

12. Consider a group of families with 3 and more children vs a group of all other students. Which group has better family relationship?

Які сім'ї мають кращі стосунки у сім'ї: багатодітні (3 і більше дітей) чи з 1-2 дітьми?

In [70]:
GT3 = df[df['famsize'] == 'GT3'].groupby(['famrel'])['age'].count()
GT3

famrel
1      6
2     11
3     49
4    138
5     77
Name: age, dtype: int64

In [71]:
LE3 = df[df['famsize'] == 'LE3'].groupby(['famrel'])['age'].count()
LE3

famrel
1     2
2     7
3    19
4    57
5    29
Name: age, dtype: int64

We can see that bigger families have better relationship

13. Report the % of students with family relationship <= 2 that do not want to take higher education.

Який відсоток студентів з сімейними стосунками <= 2 не хочуть отримувати вищу освіту в майбутньому?

In [83]:
df_famrel_lower_2 = df[df['famrel'] <= 2].groupby(['higher'])['age'].count()
df_famrel_lower_2[0] * 100 / df_famrel_lower_2.sum()

3.8461538461538463

14. Report the % of students who consume more than average amount of alcohol going out with friends the most?

Який відсоток студентів, які споживають взагальному(і по буднях і по вікендах) алкоголю більше середнього, гуляють з друзями найбільше?

In [99]:
weekend_alc = df.groupby('goout')['Walc'].mean()
day_alc = df.groupby('goout')['Dalc'].mean()

In [100]:
print(weekend_alc + day_alc)
print("Так, ті студенти, які гуляють з друзями, п'ють найбільше")

goout
1    2.782609
2    3.077670
3    3.453846
4    4.313953
5    5.452830
dtype: float64
Так, ті студенти, які гуляють з друзями, п'ють найбільше

15. Come up with 3 more questions and provide solutions for them.

Придумайте своїх 3 запитання і напишіть для них розв'язок.

In [101]:
df.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,guardian,traveltime,studytime,failures,schoolsup,famsup,paid,activities,nursery,higher,internet,romantic,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3,G_total
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,course,mother,2,2,0,yes,no,no,no,yes,yes,no,no,4,3,4,1,1,3,6,5,6,6,17
1,GP,F,17,U,GT3,T,1,1,at_home,other,course,father,1,2,0,no,yes,no,no,no,yes,yes,no,5,3,3,1,1,3,4,5,5,6,16
2,GP,F,15,U,LE3,T,1,1,at_home,other,other,mother,1,2,3,yes,no,yes,no,yes,yes,yes,no,4,3,2,2,3,3,10,7,8,10,25
3,GP,F,15,U,GT3,T,4,2,health,services,home,mother,1,3,0,no,yes,yes,yes,yes,yes,yes,yes,3,2,2,1,1,5,2,15,14,15,44
4,GP,F,16,U,GT3,T,3,3,other,other,home,father,1,2,0,no,yes,yes,no,yes,yes,no,no,4,3,2,1,2,5,4,6,10,10,26

15.1 Який відсоток студентів вчиться у школі Gabriel Pereira, а який у Mousinho da Silveira?

In [107]:
df_GP = df[df['school'] == 'GP']
print(f'{round(len(df_GP) * 100 / len(df), 2)} відсотків студентів вчиться у Gabriel Pereira, і {round(100 - (len(df_GP) * 100 / len(df)), 2)} у школі Mousinho da Silveira')

88.35 відсотків студентів вчиться у Gabriel Pereira, і 11.65 у школі Mousinho da Silveira

15.2 Хто вчиться краще, жінки чи чоловіки?

In [112]:
marks = df.groupby('sex')['G_total'].mean()
print(marks)
print('Як бачимо, чоловіки навчаються краще)')

sex
F    30.975962
M    33.219251
Name: G_total, dtype: float64
Як бачимо, чоловіки навчаються краще)

15.3 Які люди краща навчаються, у стосунках чи без?

In [116]:
df_romantic = df.groupby('romantic')['G_total'].mean()
print(df_romantic)
print('Як бачимо, люди без стосунків навчаються краще(')

romantic
no     32.844106
yes    30.431818
Name: G_total, dtype: float64
Як бачимо, люди без стосунків навчаються краще(