<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Step-1.-Import-the-necessary-libraries-(pandas)" data-toc-modified-id="Step-1.-Import-the-necessary-libraries-(pandas)-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Step 1. Import the necessary libraries (pandas)</a></span></li><li><span><a href="#Step-2.-Import-the-dataset-from-Teams-(US_Crime_Rates_1960_2014.csv)" data-toc-modified-id="Step-2.-Import-the-dataset-from-Teams-(US_Crime_Rates_1960_2014.csv)-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Step 2. Import the dataset from Teams (US_Crime_Rates_1960_2014.csv)</a></span></li><li><span><a href="#Show-the-last-3-rows-of-the-dataFrame" data-toc-modified-id="Show-the-last-3-rows-of-the-dataFrame-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Show the last 3 rows of the dataFrame</a></span></li><li><span><a href="#Step-3.-Set-the-'Year'-column-as-index" data-toc-modified-id="Step-3.-Set-the-'Year'-column-as-index-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Step 3. Set the 'Year' column as index</a></span></li><li><span><a href="#Step-4.-See-the-first-6-entries,-'Population'-and-'Violent'-columns-only" data-toc-modified-id="Step-4.-See-the-first-6-entries,-'Population'-and-'Violent'-columns-only-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Step 4. See the first 6 entries, 'Population' and 'Violent' columns only</a></span></li><li><span><a href="#Step-6.-What-is-the-number-of-observations-in-the-dataset?" data-toc-modified-id="Step-6.-What-is-the-number-of-observations-in-the-dataset?-6"><span class="toc-item-num">6&nbsp;&nbsp;</span>Step 6. What is the number of observations in the dataset?</a></span></li><li><span><a href="#Step-7.-What-is-the-number-of-columns-in-the-dataset?" data-toc-modified-id="Step-7.-What-is-the-number-of-columns-in-the-dataset?-7"><span class="toc-item-num">7&nbsp;&nbsp;</span>Step 7. What is the number of columns in the dataset?</a></span></li><li><span><a href="#Step-8.-Print-the-name-of-all-the-columns." data-toc-modified-id="Step-8.-Print-the-name-of-all-the-columns.-8"><span class="toc-item-num">8&nbsp;&nbsp;</span>Step 8. Print the name of all the columns.</a></span></li><li><span><a href="#Step-9.-What-is-the-data-type-of-each-column?" data-toc-modified-id="Step-9.-What-is-the-data-type-of-each-column?-9"><span class="toc-item-num">9&nbsp;&nbsp;</span>Step 9. What is the data type of each column?</a></span></li><li><span><a href="#Step-10.-Summarize-the-DataFrame." data-toc-modified-id="Step-10.-Summarize-the-DataFrame.-10"><span class="toc-item-num">10&nbsp;&nbsp;</span>Step 10. Summarize the DataFrame.</a></span></li><li><span><a href="#Step-11.-What-is-the-average-population-was-in-US-in-1960s-(1960-1969)?" data-toc-modified-id="Step-11.-What-is-the-average-population-was-in-US-in-1960s-(1960-1969)?-11"><span class="toc-item-num">11&nbsp;&nbsp;</span>Step 11. What is the average population was in US in 1960s (1960-1969)?</a></span></li><li><span><a href="#Step-12.-What-was-the-most-frequent-type-of-crime-in-2014?" data-toc-modified-id="Step-12.-What-was-the-most-frequent-type-of-crime-in-2014?-12"><span class="toc-item-num">12&nbsp;&nbsp;</span>Step 12. What was the most frequent type of crime in 2014?</a></span></li><li><span><a href="#Step-13.-What-was-the-number-of-Robbery-crimes-between-2000-and-2014,-including-both?" data-toc-modified-id="Step-13.-What-was-the-number-of-Robbery-crimes-between-2000-and-2014,-including-both?-13"><span class="toc-item-num">13&nbsp;&nbsp;</span>Step 13. What was the number of Robbery crimes between 2000 and 2014, including both?</a></span></li><li><span><a href="#Step-14.-What-%-of-population-was-killed-in-Murder-crimes-in-2000?" data-toc-modified-id="Step-14.-What-%-of-population-was-killed-in-Murder-crimes-in-2000?-14"><span class="toc-item-num">14&nbsp;&nbsp;</span>Step 14. What % of population was killed in Murder crimes in 2000?</a></span></li><li><span><a href="#Step-15.-By-what-percentage-with-respect-to-Population-did-crime-increase-in-2014-compared-to-1960?" data-toc-modified-id="Step-15.-By-what-percentage-with-respect-to-Population-did-crime-increase-in-2014-compared-to-1960?-15"><span class="toc-item-num">15&nbsp;&nbsp;</span>Step 15. By what percentage with respect to Population did crime increase in 2014 compared to 1960?</a></span></li><li><span><a href="#Step-16.-What-types-of-crime-affected-more-than-1%-of-population-in-2010?-(suppose-each-crime-occurs-only-once-for-each-person)" data-toc-modified-id="Step-16.-What-types-of-crime-affected-more-than-1%-of-population-in-2010?-(suppose-each-crime-occurs-only-once-for-each-person)-16"><span class="toc-item-num">16&nbsp;&nbsp;</span>Step 16. What types of crime affected more than 1% of population in 2010? (suppose each crime occurs only once for each person)</a></span></li><li><span><a href="#Step-17.-In-which-year-the-Violent-crime-rate-(as-%-of-Total)-was-the-lowest?" data-toc-modified-id="Step-17.-In-which-year-the-Violent-crime-rate-(as-%-of-Total)-was-the-lowest?-17"><span class="toc-item-num">17&nbsp;&nbsp;</span>Step 17. In which year the Violent crime rate (as % of Total) was the lowest?</a></span></li><li><span><a href="#Step-18.-In-which-year-the-forcible-rape-crime-rate-(as-%-of-Pupolation)-was-the-highest?" data-toc-modified-id="Step-18.-In-which-year-the-forcible-rape-crime-rate-(as-%-of-Pupolation)-was-the-highest?-18"><span class="toc-item-num">18&nbsp;&nbsp;</span>Step 18. In which year the forcible rape crime rate (as % of Pupolation) was the highest?</a></span></li><li><span><a href="#Step-19-20.-Come-up-with-2-questions-of-your-own-that-you-would-like-to-analyze" data-toc-modified-id="Step-19-20.-Come-up-with-2-questions-of-your-own-that-you-would-like-to-analyze-19"><span class="toc-item-num">19&nbsp;&nbsp;</span>Step 19-20. Come up with 2 questions of your own that you would like to analyze</a></span></li></ul></div>

# Ex2 - Getting and Knowing your Data



### Step 1. Import the necessary libraries (pandas)

In [1]:
import pandas as pd

### Step 2. Import the dataset from Teams (US_Crime_Rates_1960_2014.csv)

In [2]:
df = pd.read_csv('US_Crime_Rates_1960_2014.csv')

### Show the last 3 rows of the dataFrame

In [3]:
df.tail(3)

,Year,Population,Total,Violent,Property,Murder,Forcible_Rape,Robbery,Aggravated_assault,Burglary,Larceny_Theft,Vehicle_Theft
52,2012,313873685,10219059,1217067,9001992,14866,85141,355051,762009,2109932,6168874,723186
53,2013,316497531,9850445,1199684,8650761,14319,82109,345095,726575,1931835,6018632,700294
54,2014,318857056,9475816,1197987,8277829,14249,84041,325802,741291,1729806,5858496,689527

### Step 3. Set the 'Year' column as index

In [4]:
df = df.set_index('Year')

### Step 4. See the first 6 entries, 'Population' and 'Violent' columns only

In [5]:
df.loc[[1960, 1961, 1962, 1963, 1964]][['Population', 'Violent']]

      Population  Violent
Year
1960   179323175   288460
1961   182992000   289390
1962   185771000   301510
1963   188483000   316970
1964   191141000   364220

### Step 6. What is the number of observations in the dataset?

In [6]:
df.shape[0]

55

### Step 7. What is the number of columns in the dataset?

In [7]:
df.shape[1]

11

### Step 8. Print the name of all the columns.

In [8]:
df.columns

Index(['Population', 'Total', 'Violent', 'Property', 'Murder', 'Forcible_Rape',
       'Robbery', 'Aggravated_assault', 'Burglary', 'Larceny_Theft',
       'Vehicle_Theft'],
      dtype='object')

### Step 9. What is the data type of each column?

In [9]:
df.dtypes

Population            int64
Total                 int64
Violent               int64
Property              int64
Murder                int64
Forcible_Rape         int64
Robbery               int64
Aggravated_assault    int64
Burglary              int64
Larceny_Theft         int64
Vehicle_Theft         int64
dtype: object

### Step 10. Summarize the DataFrame.

In [10]:
df.describe()

,Population,Total,Violent,Property,Murder,Forcible_Rape,Robbery,Aggravated_assault,Burglary,Larceny_Theft,Vehicle_Theft
count,5.500000e+01,5.500000e+01,5.500000e+01,5.500000e+01,55.000000,55.000000,55.000000,5.500000e+01,5.500000e+01,5.500000e+01,5.500000e+01
mean,2.461556e+08,1.060315e+07,1.188806e+06,9.412499e+06,17317.236364,72714.800000,416449.890909,6.811818e+05,2.424017e+06,5.959947e+06,1.028614e+06
std,4.166216e+07,3.175931e+06,4.597107e+05,2.738512e+06,4267.442664,28278.006893,150506.403782,2.960255e+05,7.259004e+05,1.846401e+06,3.455693e+05
min,1.793232e+08,3.384200e+06,2.884600e+05,3.095700e+06,8530.000000,17190.000000,106670.000000,1.543200e+05,9.121000e+05,1.855400e+06,3.282000e+05
25%,2.106215e+08,9.096958e+06,9.253150e+05,8.060014e+06,14819.000000,53400.000000,354911.500000,4.384300e+05,2.105336e+06,4.843350e+06,7.896260e+05
50%,2.422829e+08,1.140151e+07,1.322390e+06,1.018259e+07,17030.000000,84230.000000,423557.000000,7.412910e+05,2.329950e+06,6.591900e+06,1.032200e+06
75%,2.833697e+08,1.308449e+07,1.432762e+06,1.160509e+07,20561.500000,92930.000000,512137.000000,9.002150e+05,3.073600e+06,7.168450e+06,1.239302e+06
max,3.188571e+08,1.487290e+07,1.932270e+06,1.296110e+07,24700.000000,109060.000000,687730.000000,1.135610e+06,3.795200e+06,8.142200e+06,1.661700e+06

### Step 11. What is the average population was in US in 1960s (1960-1969)?

In [11]:
df.loc[[1960, 1961, 1962, 1963, 1964, 1965, 1966, 1967, 1968, 1969]]['Population'].mean()

191505317.5

### Step 12. What was the most frequent type of crime in 2014?

In [12]:
df.loc[[2014]][['Property', 'Violent', 'Murder', 'Forcible_Rape', 'Robbery', 
                                        'Aggravated_assault', 'Burglary', 'Larceny_Theft', 'Vehicle_Theft']].idxmax().idxmax()

'Property'

### Step 13. What was the number of Robbery crimes between 2000 and 2014, including both?

In [13]:
df.loc[[2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014]]['Robbery'].sum()

5980175

### Step 14. What % of population was killed in Murder crimes in 2000?

In [14]:
(df['Murder'] / df['Population'] * 100).loc[2000]

0.005538303759480614

### Step 15. By what percentage with respect to Population did crime increase in 2014 compared to 1960?

In [15]:
(df['Total'] * 100 / df['Population']).loc[2014] - (df['Total'] * 100 / df['Population']).loc[1960]

1.0845996301463365

### Step 16. What types of crime affected more than 1% of population in 2010? (suppose each crime occurs only once for each person)

In [16]:
df1 = df.loc[2010]
df1 = df1 / df1['Population']
df1[df1 > 0.01].iloc[2:]

Property         0.029459
Larceny_Theft    0.020058
Name: 2010, dtype: float64

### Step 17. In which year the Violent crime rate (as % of Total) was the lowest?

In [17]:
(df['Violent'] * 100 / df['Total']).idxmin()

1963

### Step 18. In which year the forcible rape crime rate (as % of Pupolation) was the highest?

In [18]:
(df['Forcible_Rape'] * 100 / df['Population']).idxmax()

1992

### Step 19-20. Come up with 2 questions of your own that you would like to analyze

### Step 19. In which year the Violent crime rate (as % of Total) was the highest?

In [19]:
(df['Violent'] * 100 / df['Total']).idxmax()

1993

### Step 20. What % of population was raped in 2005?

In [20]:
(df['Forcible_Rape'] / df['Population'] * 100).loc[2005]

0.03181947832264271